* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.863), #6e502a), 
                url('Assets/images/giccl.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #1e3a5f;
    animation: slideIn 1s ease-out;
}

.form-container .icon img {
    width: 100px;
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Bruno Ace SC", serif;
    margin-bottom: 1rem;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-container input {
    width: 100%;
    padding: 12px 15px;
    padding-left: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.input-container input:focus {
    border-color: #ffab40;
    box-shadow: 0 0 8px rgba(255, 171, 64, 0.5);
    outline: none;
}

.input-container .icon-symbol {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #6c757d;
}

.toggle-password {
    position: absolute;
    top: 45%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #6c757d;
    cursor: pointer;
}

.form-container button {
    width: 100%;
    padding: 15px;
    background-color: #d4882c;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container button:hover {
    background-color: #aa6407;
    transform: scale(1.05);
}

.form-container a {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.form-container a:hover {
    text-decoration: underline;
}

.password-strength {
    width: 100%;
    height: 7px;
    margin-top: 5px;
    background: #e0e0e0;
    border-radius: 3px;
}

.password-strength div {
    height: 100%;
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
    width: 0%;
}

.strength-weak { background-color: red; }
.strength-medium { background-color: orange; }
.strength-strong { background-color: green; }

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}